body {
	background-color: #e6f3ff;
}
header#accueil {
	background-color: #5c832f;
	color: white;
}
header#evenement {
	background-color: #5c832f;
	color: white;
}
header#participant {
	background-color: #e65c00;
	color: white;
}

header {
	height: 110px;
	display: block;
	/* background-image: url('img/img_02.jpg'); */
	padding: 20px;
	color: #323d4f;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

header h1 {
	font-family: fantasy;
}

iframe {
	display: block;
	margin: auto;
}

main {
	margin-left: 10px;
}

/* Nav */
nav ul, footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #323d4f;
}

nav li, footer li {
	float: left;
	border-right: 1px solid #c8cec1;
}

nav li a, footer li a {
	display: block;
	color: white;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
}

nav li a:hover, footer li a:hover {
	background-color: #a02433;
}

nav li a.active, footer li a.active {
	background-color: #a02433;
	cursor: default;
}

/* Tableau */
section table, section table a {
	/*  list-style-type: none; */
	margin: 10;
	padding: 0;
	/*overflow: hidden;*/
}

section table a {
	color: white;
	text-decoration: none;
}

section table tr td {
	height: 30px;
	/*float: left;*/
	/* border: 1px solid #c8cec1;*/
	background-color: #336699;
	color: white;
}

/* section table tr td a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    
}*/
section table tr td:hover {
	background-color: #a02433;
}

/* Gallery */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.gallery {
	position: relative;
	float: left;
	border: 1px solid #333;
	margin: 1%;
	overflow: hidden;
	width: 200px;
}

.gallery img {
	height: auto;
	max-width: 100%;
	display: block;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.gallery:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
}

div.desc {
	background-color: #c4a886;
	padding: 12px;
	text-align: center;
	font-family: fantasy;
}

/* image qui déclenche la modale*/
#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#myImg:hover {
	opacity: 0.7;
}

/* la fenêtre modale */
.modal {
	display: none; /* invisible par defaut */
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/* image dans la modale */
.modal-content {
	margin: auto;
	display: block;
	max-height: 80%;
}

/* légende de l'image dans la modale */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #c8cec1;
	padding: 10px 0;
	height: 150px;
}

/* Zoom ouverture modalel */
.modal-content, #caption {
	animation-name: zoom;
	animation-duration: 0.3s;
}

@
keyframes zoom {
	from {transform: scale(0.5)
}

to {
	transform: scale(1)
}

}

/* Bouton de fermeture de la modale */
.close {
	position: absolute;
	top: 15px;
	left: 35px;
	color: #c8cec1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover, .close:focus {
	color: #323d4f;
	text-decoration: none;
	cursor: pointer;
}

section {
	margin-left: 10px;
	margin-right: 10px;
}

section p {
	padding: 10px;
}

/* Formulaire */
form {
	width: 70%;
	margin: auto;
	margin-top: 20px;
	height: auto;
}

input, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid gray;
	border-radius: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	resize: vertical;
}

textarea {
	height: 130px;
}

::placeholder {
	color: #323d4f;
}

input[type=submit] {
	background-color: #a02433;
	color: white;
	padding: 12px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #a02433;
}

input[type=submit]:disabled {
	background-color: #c8cec1;
}

input[type=button] {
	cursor: pointer;
	background-color: #a02433;
	color: white;
	width: 50%;
}

section ol, section ol li, section ol li ul {
	margin-left: 10;
	padding-left: 10px;
}

section ol li ul li {
	list-style: square;
}